<div class="mediastock" id="MediaStock" ng-controller="Umbraco.Dashboard.MediaStockController">

    <h3>Media Stock</h3>
    <p>Search for high quality stock photos from <a href="http://unsplash.com" target="_blank">Unsplash</a>, and easily add them to your media library.</p>
    <p class="mediastock-small">
        All photos shown are free to use without attribution or permission; for more information, view the <a href="http://unsplash.com/license" target="_blank">license</a>.<br />
        Click a photo then choose a Media folder to add it to.
    </p>

    <div ng-show="!ready">
        Loading...
    </div>

    <div ng-show="ready">
        <div ng-show="!searching">
            <form name="searchForm" ng-submit="search()">
                <input class="umb-textstring" name="search" type="text" placeholder="Search stock photos" ng-model="txt" no-dirty-check />
                <button class="btn btn-primary" type="button" ng-click="search()" style="vertical-align: top;">
                    <span>Search</span>
                </button>
            </form>
        </div>
        <div class="umb-loader-wrapper" ng-show="searching">
            <div class="umb-loader"></div>
        </div>
        <div class="info">
            <p>{{info}}</p>
        </div>
        <div class="mediastock-imagewrap" ng-repeat="pic in images">
            <img ng-src="{{pic.urls.small}}" ng-click="use('{{pic.id}}')" />
            <div class="mediastock-imagecredit">
                <a href="{{pic.user.links.html}}" targ target="_blank">Photo by {{pic.user.name}}</a>
            </div>
        </div>

        <button type="button" class="btn more" ng-click="showMoreResults()" style="width: 100%">Show more results</button>

    </div>
</div>