<?xml version="1.0" encoding="utf-8"?>
<Configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <ApiKey>cf56a479d773788e1a516c408ea7bb4c</ApiKey>
  <ApiSecret>63ed40dd8541b2f1b2fc2c7354931b032a5eff6a</ApiSecret>
  <HideKeys>false</HideKeys>
  <Enabled>true</Enabled>
  <Lossy>true</Lossy>
  <KeepOriginal>true</KeepOriginal>
  <Wait>true</Wait>
</Configuration>