<?xml version="1.0" encoding="utf-8"?>
<uSync Name="Startup" DateTime="03/10/2016 22:43">
  <Actions>
    <Action Change="NoChange" Success="true" Message="" Name="Approved Color" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Checkbox list" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Content Picker" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Date Picker" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Date Picker with time" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Dropdown" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Dropdown multiple" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Folder Browser" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Header Picker" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Image Cropper" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Label" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="List View - Content" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="List View - Media" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="List View - Members" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Markdown Editor" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Media Picker" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Member Picker" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Multiple Media Picker" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Numeric" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Radiobox" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Related Links" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Richtext editor" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Robots meta tag" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="SEO Checker" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Facebook OAuth" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Google OAuth" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Instagram OAuth" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Twitter OAuth" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Status" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Tag Editor" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Tags" Type="IDataTypeDefinition" />
    <Action Change="Import" Success="true" Message="" Name="Textarea" Type="IDataTypeDefinition" />
    <Action Change="Import" Success="true" Message="" Name="Textbox multiple" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Textstring" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="True/false" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Upload" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Url Picker" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Url Preview" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="About Me" Type="ITemplate" />
    <Action Change="Import" Success="false" Message="Failed to generate template path" Name="Config" Type="ITemplate" />
    <Action Change="Import" Success="false" Message="Failed to generate template path" Name="Email Template" Type="ITemplate" />
    <Action Change="NoChange" Success="true" Message="" Name="Master" Type="ITemplate" />
    <Action Change="NoChange" Success="true" Message="" Name="Root" Type="ITemplate" />
    <Action Change="NoChange" Success="true" Message="" Name="Blog Home" Type="ITemplate" />
    <Action Change="NoChange" Success="true" Message="" Name="Blog Post" Type="ITemplate" />
    <Action Change="NoChange" Success="true" Message="" Name="Contact" Type="ITemplate" />
    <Action Change="NoChange" Success="true" Message="" Name="Home" Type="ITemplate" />
    <Action Change="NoChange" Success="true" Message="" Name="Sitemap" Type="ITemplate" />
    <Action Change="NoChange" Success="true" Message="" Name="Standard Page" Type="ITemplate" />
    <Action Change="NoChange" Success="true" Message="" Name="Search" Type="ITemplate" />
    <Action Change="NoChange" Success="true" Message="" Name="SitemapAsXml" Type="ITemplate" />
    <Action Change="Import" Success="false" Message="Failed to generate template path" Name="Tag" Type="ITemplate" />
    <Action Change="Import" Success="false" Message="Failed to generate template path" Name="Tag Folder" Type="ITemplate" />
    <Action Change="Import" Success="true" Message="" Name="Config" Type="IContentType" />
    <Action Change="Import" Success="true" Message="" Name="Email Template" Type="IContentType" />
    <Action Change="NoChange" Success="true" Message="" Name="emailTemplateFolder" Type="IContentType" />
    <Action Change="NoChange" Success="true" Message="" Name="component" Type="IContentType" />
    <Action Change="Import" Success="true" Message="" Name="Header" Type="IContentType" />
    <Action Change="NoChange" Success="true" Message="" Name="page" Type="IContentType" />
    <Action Change="NoChange" Success="true" Message="" Name="aboutMe" Type="IContentType" />
    <Action Change="NoChange" Success="true" Message="" Name="blogHome" Type="IContentType" />
    <Action Change="NoChange" Success="true" Message="" Name="contact" Type="IContentType" />
    <Action Change="NoChange" Success="true" Message="" Name="home" Type="IContentType" />
    <Action Change="NoChange" Success="true" Message="" Name="search" Type="IContentType" />
    <Action Change="NoChange" Success="true" Message="" Name="sitemap" Type="IContentType" />
    <Action Change="NoChange" Success="true" Message="" Name="standardPage" Type="IContentType" />
    <Action Change="NoChange" Success="true" Message="" Name="File" Type="IMediaType" />
    <Action Change="NoChange" Success="true" Message="" Name="Folder" Type="IMediaType" />
    <Action Change="NoChange" Success="true" Message="" Name="Image" Type="IMediaType" />
    <Action Change="NoChange" Success="true" Message="" Name="en-GB" Type="ILanguage" />
    <Action Change="NoChange" Success="true" Message="" Name="2011-10-14 15.12.07.jpg" Type="IMedia" />
    <Action Change="NoChange" Success="true" Message="" Name="apple.jpeg" Type="IMedia" />
    <Action Change="NoChange" Success="true" Message="" Name="apple2.jpeg" Type="IMedia" />
    <Action Change="NoChange" Success="true" Message="" Name="apple3.jpeg" Type="IMedia" />
    <Action Change="NoChange" Success="true" Message="" Name="desk-laptop-notebook-pen.jpg" Type="IMedia" />
    <Action Change="NoChange" Success="true" Message="" Name="dogs.jpg" Type="IMedia" />
    <Action Change="NoChange" Success="true" Message="" Name="favicon.ico" Type="IMedia" />
    <Action Change="NoChange" Success="true" Message="" Name="hands-technology-photo-phone.jpg" Type="IMedia" />
    <Action Change="NoChange" Success="true" Message="" Name="IMG_2413.JPG" Type="IMedia" />
    <Action Change="NoChange" Success="true" Message="" Name="IMG_2500[1].PNG" Type="IMedia" />
    <Action Change="NoChange" Success="true" Message="" Name="landscape.jpg" Type="IMedia" />
    <Action Change="NoChange" Success="true" Message="" Name="logo.ico" Type="IMedia" />
    <Action Change="NoChange" Success="true" Message="" Name="logo.png" Type="IMedia" />
    <Action Change="NoChange" Success="true" Message="" Name="logo.png (1)" Type="IMedia" />
    <Action Change="NoChange" Success="true" Message="" Name="movies.jpg" Type="IMedia" />
    <Action Change="NoChange" Success="true" Message="" Name="pexels-photo-126590.jpeg" Type="IMedia" />
    <Action Change="NoChange" Success="true" Message="" Name="pexels-photo-126590.jpeg (1)" Type="IMedia" />
    <Action Change="NoChange" Success="true" Message="" Name="profile.jpg" Type="IMedia" />
    <Action Change="NoChange" Success="true" Message="" Name="summerandme.jpg" Type="IMedia" />
    <Action Change="NoChange" Success="true" Message="" Name="Config Folder" Type="IContent" />
    <Action Change="NoChange" Success="true" Message="" Name="Email Templates" Type="IContent" />
    <Action Change="NoChange" Success="true" Message="" Name="Contact Form" Type="IContent" />
    <Action Change="NoChange" Success="true" Message="" Name="Home" Type="IContent" />
    <Action Change="NoChange" Success="true" Message="" Name="404" Type="IContent" />
    <Action Change="NoChange" Success="true" Message="" Name="Blog" Type="IContent" />
    <Action Change="NoChange" Success="true" Message="" Name="C# Generic Session Helper" Type="IContent" />
    <Action Change="NoChange" Success="true" Message="" Name="Get Umbraco content by tag" Type="IContent" />
    <Action Change="NoChange" Success="true" Message="" Name="How To Display Umbraco Tags On Razor Templates" Type="IContent" />
    <Action Change="NoChange" Success="true" Message="" Name="How To Log Errors In Umbraco" Type="IContent" />
    <Action Change="NoChange" Success="true" Message="" Name="HTML Sitemap with Umbraco" Type="IContent" />
    <Action Change="NoChange" Success="true" Message="" Name="Intercepting content and member save events in Umbraco" Type="IContent" />
    <Action Change="NoChange" Success="true" Message="" Name="My First CodeGarden" Type="IContent" />
    <Action Change="NoChange" Success="true" Message="" Name="What I Learned at CodeGarden 2016" Type="IContent" />
    <Action Change="NoChange" Success="true" Message="" Name="Contact" Type="IContent" />
    <Action Change="NoChange" Success="true" Message="" Name="Sitemap" Type="IContent" />
  </Actions>
</uSync>