{
  "Id": "100248216",
  "AccountId": "61425310",
  "WebPropertyId": "UA-61425310-1",
  "InternalWebPropertyId": "96108714",
  "Name": "All Web Site Data",
  "Currency": "USD",
  "Timezone": "Etc/GMT",
  "WebsiteUrl": "http://www.biggsy150.co.uk",
  "Type": "WEB",
  "Created": "2015-03-31T21:46:20.937+01:00",
  "Updated": "2015-03-31T21:46:20.937+01:00"
}