<div ng-controller="AppPoolRefresh.Controller" class="app-pool-refresh-container">

    <h3>App Pool Refresh</h3>
    <div class="alert alert-danger">WARNING: This will refresh the applicaition pool for the site. Do not use this action if you are not fully aware of how this may affect your site.</div>
    <form ng-controller="AppPoolRefresh.Controller" ng-submit="refresh()">
        <button type="submit" class="btn btn-danger" title="App Pool Refresh" ng-disabled="isProcessing"><i class="icon icon-refresh"></i> <span ng-show="isProcessing">Refresh...</span><span ng-hide="isProcessing">Refresh Now!</span></button>
    </form>

</div>
