@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using UmbracoPortfollio.App_Code
@{
	Layout = "Root.cshtml";
}
<div class="sections" itemprop="text" style="margin-top: 520px;">
    <section class="section contact-content contact">
    <div class="section__container contact-content__container">
        <div class="contact-content__row">
            <div>
                <h2 class="contact-content__column__title"></h2>
                <div class="contact-content__column__content --1">
                    @Html.Action("RenderContactForm", "Contact")
                </div>
            </div>
        </div>
    </div>
</section>
</div>

