@inherits UmbracoTemplatePage
@{
    Layout = "Root.cshtml";
    var sections = Model.Content.Children;
    var i = 0;
}
@foreach (var section in sections)
{
    var header = section.GetPropertyValue<IPublishedContent>("header");
    var title = header.GetPropertyValue("title");
    var desc = header.GetPropertyValue("description");
    var image = header.ReturnImage("image");
    var side = i % 2 == 0;
    <div class="row">
        <div class="medium-6 columns medium-@Umbraco.If(side,"push","pull")-6">
            <img class="thumbnail" src="@image.Url">
        </div>
        <div class="medium-6 columns medium-@Umbraco.If(side,"pull","push")-6">
            <h2>@title</h2>
            <p>@desc</p>
        </div>
    </div>
    i++;
}
